<!DOCTYPE html>

	</head>
		<title>Contact</title>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/application.css">
	</head>
	<body>
		<header id="contact-nav" class="clearfix">
			<%= link_to "Shakti Shah", root_path, class: "contact-name" %>
		</header>

	<div class="skinny_wrapper wrapper_padding">
		<%= form_for Contact.new do |f| %>
			<%= f.label :name %><br>
			<%= f.text_field :name, required: true %>

			<br>

			<%= f.label :email %><br>
			<%= f.email_field :email, required: true %>

			<br>

			<%= f.label :message %><br>
			<%= f.text_area :message, as: :text %>

			<div class="hidden">
				<%= f.label :nickname %><br>
				<%= f.text_field :nickname, hint: 'leave this field blank' %>
			</div>

			<%= f.submit 'Send Message', class: "button" %>
		<% end %>
	</div>
</body>